// body{
//   background-color: var( --background-color-white);
//   color: var(--background-color-white);
// }

.search_container{
  margin: 10px 0px;
  display:flex;
  justify-content: center;
}

.search_field {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 6px 12px;
  font-size: 14px;
  max-width: 300px;
  margin-bottom:0px;
}

.venue_card{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:20px 20px;
  padding: 10px;
  cursor: pointer;
}

.venue_media_container{
  width:90%;
  height: 300px;

  *{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}

.meta_container {
  display:flex;
  width:80%;
  margin: 10px 0px;

  *{
    margin:0px 10px;
    height: 40px;
    object-fit: cover;
  }
}

.guests_container{
  width:50px;
  margin: 5px 0px 0px 20px;
  position: relative;

}

.guests_icon{
  width:55px;
}

.headline_container{
  display:flex;
  justify-content: space-between;
  width:80%;

  h2{
    font-weight: 700;
  }
  
}

.guests_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #04bfbfeb;
  padding: 7px;
  font-weight: 700;
  right: -15px;
  color:var(--text-color-white);
}

.info_container{
  width: 80%;
  display:flex;
  justify-content: space-between;
}






