.message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1rem;
}

.error_message {
  @extend .message;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}