@import "../../../index.scss";

.meta_checkbox{
  display:flex;
  flex-wrap: wrap;
  max-width:400px;

}

.meta_item{
  width: 140px;
  font-size: 0.8rem;
  *{
    margin:5px;
  }
}

.text_area{
  height: 100px;
  max-width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #ffffff;
  color: #495057;
  max-width: 92%;
  max-height: 50px;
}

.media_container{
  max-height: 120px;
  overflow: scroll;
}

.btn {
  @include btn-styles;
  margin: 10px 0px;
  font-size: 0.8rem;
  font-weight: bold;
  max-width: 180px;
  
}

.btn_container{
  margin-bottom: 20px;
}

.btn_submit, .btn_delete_venue{
  @include btn-styles;
  max-width: 130px;
  margin:5px;
}

.btn_delete_venue{
  background-color: var(--main-color-green-danger);
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  &:hover{
    background-color:var(--main-color-green-danger-hover);
  }
}

.form{
  display:flex;
  flex-direction: column;
  max-width:500px;
  overflow: scroll;
}

.message_container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error_message{
  color:red;
}






