.login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color-green);
}

.logo_container {
  width: 100px;
  margin: 20px 20px;
  * {
    width: 100%;
  }
}

.welcome_text {
  margin: 0px 10px;

  * {
    color: var(--text-color-white);
    text-align: center;
  }
}

@media only screen and (min-width: 800px) {
  .welcome_text {
    max-width: 500px;
  }
}
