@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;

  /* colors */
  --main-color-green:#04BFBF;
  --main-color-green-hover: #00a3a3;
  --main-color-green-danger: #006868;
  --main-color-green-danger-hover: #004444;
  --text-color-white: #FBFBFB;
  --background-color-white: #F5F5F5;
  --main-color-gray: #9E9E9E;

}

body{
  margin:0;
  background-color: var(--background-color-white);
}

@mixin btn-styles {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 4px;
  width:200px;
  margin:0 auto;
  color: #ffffff;
  background-color: var(--main-color-green);
  border-color: var(--main-color-green);
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  &:hover {
    background-color: var(--main-color-green-hover);
    border-color: var(--main-color-green-hover);
  }
  
}

@mixin meta_container_styles
{
  display:flex;
  width:80%;
  margin: 10px 0px;

  *{
    margin:0px 10px;
    height: 40px;
    object-fit: cover;
  }
}

a {
  color: inherit;      
  text-decoration: none; 

  &:active,
  &:visited {
    color: inherit;   
    text-decoration: none;  
  }
}

h1, h2, h3, h4, h5, h6, p {
  color: inherit;      
  text-decoration: none; 

  
  &:active,
  &:visited {
    color: inherit;    
    text-decoration: none;  
  }
}
